[2017-05-25 21:12] ryanhinton opened #4 "Only obtaining a directory of tables and nothing more"
Hello,

I'm attempting to use this for the first time and I ran `ssc pull` and it is only created a "tables" directory with all of the tables and nothing else such as stored procedures, functions, etc.  Am I possibly missing something?  I originally used `ssc init` to create the config which looks correct and did connect.  I then added "output" and "idempotency" details in the config exactly like

[2017-05-26 02:00] justinlettau commented on #4
Is there any output in the console when running `ssc pull`? Also, could you provide what your `ssc.json` file looks like?

[2017-05-26 09:05] ryanhinton commented on #4
Hi Justin,

Thank you for getting back to me.  I did not get a chance to cancel this
issue after I did some more digging by combing through your code.  I
extracted the sql statement for objects and ran it in ssms for the user
account I am using for this and the result was consistent with no data.  So
I created a select statement to figure out which sys table in the statement
was prohibiting a resu

[2017-05-26 14:36] justinlettau commented on #4
Thanks for the update and heads up about `syscomments`!

I would love to add some features like "pushing" changes to a database, comparing databases, generating diff scripts between databases, ect. It's just a matter of getting the time to work on it 😄

[2017-05-26 14:36] #4 closed

[2017-05-26 14:47] ryanhinton commented on #4
I hear you.  Are you using anything in the interim to help you push the changes?

By the way, regarding `syscomments` deprecation, here is what I used while testing my DB to obtain the objects.  Instead of it being syscomments.text, the comparison is sys.sql_modules.definition in the following query.
[code]

[2017-05-26 15:14] justinlettau commented on #4
Not really. What we do currently is more of a manual process.

[2017-05-26 15:27] ryanhinton commented on #4
Got you.  Well, I'm going to look into finding a way to make a `push` feature.  This style of JS coding is new to me but I am willing to learn it to figure out how to make a `push` feature for the CLI.  I have the same time restraints but this looks like it would be a fun experience to tackle.  If/when I do get something working, I have no problem passing it to you and you can do with it what you

[2017-05-26 21:41] justinlettau commented on #4
Thanks! I have also added it to the project plan (https://github.com/justinlettau/sql-source-control/projects/1).

[2017-06-13 18:50] mika76 opened #5 "Script permissions per object"
This is great - but you're missing grants for each object, especially if you're going to drop and recreate every time...

[2017-06-13 18:51] mika76 opened #6 "Push command"
A ```push``` command would be most welcome 😊

[2017-06-13 19:38] justinlettau commented on #5
What do you mean? The connection to SQL is with user provided credentials, so we should have whatever permissions needed to execute.

[2017-06-13 19:38] justinlettau commented on #6
It's next on my list!

[2017-06-13 20:16] mika76 commented on #5
The user you used to read the db is ok, but it is not the only user that that object might have grants to. You might have set up roles for example and given different roles different access permissions.

For example I might have a role/user called ```ReportRunner``` and that might only have SELECT permissions on some tables. Currently you lose all that info. The only info you keep is the "owner" o

[2017-08-08 08:44] sbechet opened #7 "dos2unix bin/ssc"
CR LF -> LF

Please do it to help linux user :-)

[2017-08-08 09:11] sbechet opened #8 "ssc pulldata"
Add ssc pulldata to save data in .sql format

[2017-10-25 08:52] zote41 opened #9 "SSC PULL -> deletes generated files"
When I launch this command and I has the output.root set to './' on Windows,  doesn't exclude the files found, and the files already generated will be deleted.

the problem is here
[code]

[2018-01-10 18:03] boyington opened #11 "Inline table-value functions not included"
Hi, thanks for this very useful module: but in my case it works properly for the Multi-Statement Table-Valued functions, but not the inline table-valued functions. Am I missing something?

[2018-01-10 18:14] FabriceGazin commented on #11
Found the issue: you have to include 'IF' object types, not only 'TF' and 'FN' :)

[2018-01-10 20:52] justinlettau commented on #11
Thanks for identifying the source of the issue! I'll try to get this fixed and released soon.

[2018-01-10 21:01] justinlettau commented on #9
By design, the `pull` command will delete local sql files that are not found in the database. This is to ensure when a database object is deleted (like a table or proc), the associated source control files are deleted as well.

If you are describing something else, could you provide some more details? Thanks.

[2018-01-11 00:24] #11 closed

[2018-01-11 08:59] FabriceGazin commented on #11
Perfect, it works as expected! Thanks a lot!

[2018-01-12 11:18] josefstr opened #12 "what is the idea behing removing the existing files again?"
https://github.com/justinlettau/sql-source-control/blob/a20ef18650ef43dea8b5c3fefc0bf805bef1b996/src/commands/pull.ts#L129

I'm using sql-source-control to export my databases to a flat file structure. I'm controlling the exported content via `git` and if there is a change I can see it on the `git status`. Am I missing something, we the existing files get deleted again?

[2018-01-12 12:04] josefstr commented on #12
it looks, it's a duplicate of https://github.com/justinlettau/sql-source-control/issues/9 and can be closed.

[2018-01-12 12:04] #12 closed

[2018-01-12 12:11] josefstr commented on #9
I'm experiencing the same, running `ssc pull` on windows. The existing files get deleted, the output looks like:
[code]

I'm running `ssc pull` with the default config on a windows git bash.
Is there anything I can provide to fix this problem?

[2018-01-13 14:38] #9 closed

[2018-02-04 20:06] justinlettau commented on #6
@mika76 Landed the `push` command (beta) in v1.6.0!

[2018-02-04 20:06] #6 closed

[2018-02-04 20:15] justinlettau commented on #5
It seems SQL Server 2016 introduced the `CREATE or ALTER` syntax, which avoids having to drop each object (and losing permissions). Will add this to idempotent options soon!

https://blogs.msdn.microsoft.com/sqlserverstorageengine/2016/11/17/create-or-alter-another-great-language-enhancement-in-sql-server-2016-sp1/

[2018-02-05 11:39] mika76 commented on #6
@justinlettau that's brilliant! I'll give it a try as soon as I get some free time...

[2018-04-02 20:19] davidguilherme opened #22 "The table-valued parameters are not being created"
## Type
What kind of issue is this?

[code]

## Current Behavior

The `table-valued parameters` are not being created when the idempotency option for `table-valued parameters` is `if-not-exists` even though they are not already created.

## Expected behavior

The command `push` should create the `table-valued parameters` when the idempotency option for this is `if-not-exists` and they are not alre

[2018-04-04 17:10] #22 closed

[2018-04-30 17:17] winzig commented on #8
This would be awesome to have for lookup tables. Perhaps some way to designate which of your tables you want to track in this way.

[2018-06-11 00:20] #8 closed

[2018-06-22 02:45] winzig commented on #8
@justinlettau I'm trying to figure out how to use this new feature. It looks like we need to define a `data` array of globs in the config .json file, which I've done:

`"data": ["dbo.Coupons", "dbo.DiscussionTopics", "dbo.Lookup*", "dbo.Partners", "dbo.Webheads"]`

I'm running `ssc pull` on the command line, but I'm not seeing anything new generated. Am I missing anything? Thanks!

[2018-06-22 13:07] justinlettau commented on #8
@winzig Yeah, the `data` glob is correct. Are you running v1.8.0?

[2018-06-22 14:01] winzig commented on #8
Yep

[2018-06-22 17:07] justinlettau commented on #8
Well, it should be generating files in the `_sql-database/data/` directory. Can you post your config?

[2018-06-22 17:11] winzig commented on #8
The only other thing defined in my config is my SQL connection properties. So it's just that, and the `data` glob array. Do I need something else defined in there to tell it to do the data pull?

[2018-06-22 17:12] winzig commented on #8
hmmm... I think I see the issue. It looks like I have both a global and a local installation of ssc. The local one appears to be 1.7.1. Sorry!

[2018-06-22 17:13] justinlettau commented on #8
Glad you figured it out!

[2018-06-22 17:40] winzig commented on #8
It's mostly working for me now, but data entry for `"dbo.Lookup*"` seems to cause it to choke. I'm guessing this type of file glob is not allowed?

[2018-06-22 18:14] justinlettau commented on #8
Hmm, I guess I the docs are wrong (sorry). I think currently is is a list of table names, not a glob.

[2018-06-22 19:17] winzig opened #28 "Any way to encrypt the database connection info? Or separate it?"
## Type
What kind of issue is this?

[code]

## Current Behavior

My SQL connection properties are in plaintext in the ssc.json file.
In the same file is other configuration data. There doesn't appear to be a way to encrypt the database properties, nor use more than one configuration file.

## Expected behavior

It would be desirable to be able to encrypt the database connection properties on disk

[2018-06-23 12:00] justinlettau commented on #28
@winzig I like this. Do you currently store your connection info in something like a `ConnectionStrings.config` file or elsewhere?

Here is some options that could be implemented (easier than encryption):
1. Optionally, store credentials in separate config file (`ssc-credentials.json`).
2. Add support for reading connection info from `Web.config` files that use the `configSource` attribute.
3. Mak

[2018-06-25 15:42] winzig commented on #28
Currently we store the connection info for other applications in the environment variables, encrypted. But that is sort of bespoke so probably not ideal for this project. I think the most secure option would be to store the password credentials in a separate file, that the app creates during the first use. Then it could encrypt the password (if one is used), before writing it.

[2018-06-26 21:38] justinlettau commented on #28
Ok, i'll start by adding support for credentials in a separate file. Will circle back to the encryption later.

I think it makes more sense to move the whole connections array to a separate file. In theory, this would allow each user of a repo to save their own personal connections and not check them in. The `ssc-connections.json` file could be added to the gitignore, and the shared config (`ssc.j

[2018-06-26 22:23] winzig commented on #28
This looks great, thanks.

[2018-06-29 10:15] MortimerCat opened #30 "Calculated fields lose their calculation"
## Type
What kind of issue is this?

[code]
## Current Behavior
I have a column [drv_lock_ID] which is essentially an alias of the column [_lock_ID]  that generates its own unique ID.  SSC exports these as two separate independent fields.

[code]

## Expected behavior
These are the corresponding lines generated by MSSQL studio.
[code]
## Steps to Reproduce
To reproduce, create a calculated column

[2018-06-29 16:21] justinlettau commented on #28
@winzig This will be available when v1.9.0 is released.

[2018-07-02 06:49] Elfish opened #31 "Export jobs"
## Type
What kind of issue is this?

[code]

## Current Behavior

Todo

## Expected behavior

Add an option that allows jobs to be exported in the same manner like other objects

## Steps to Reproduce

n/a

## Other Information

n/a

[2018-07-05 10:51] renovate[bot] opened #32 "Dependency deprecation warning: @types/commander (npm)"
On registry `https://registry.npmjs.org/`, the "latest" version (v2.12.2) of dependency `@types/commander` has the following deprecation notice:

`This is a stub types definition for commander (https://github.com/tj/commander.js). commander provides its own type definitions, so you don't need @types/commander installed!`

Marking the latest version of an npm package as deprecated results in the en

[2018-07-06 09:51] Elfish opened #33 "Table column ordering"
## Type
What kind of issue is this?

[code]

## Current Behavior

Column order is wrong in generated statements.
![grafik](https://user-images.githubusercontent.com/186427/42372513-a9dbd5cc-8112-11e8-93e0-c3952cfbb39c.png)

![grafik](https://user-images.githubusercontent.com/186427/42372570-daa39190-8112-11e8-8186-eb50a8a78f4e.png)

Seems like that columns are ordered alphabetically.

## Expected

[2018-07-07 19:29] #33 closed

[2018-07-07 20:09] #30 closed

[2018-07-07 20:16] justinlettau commented on #28
@winzig Just published v1.9.0. Let me know if you have any issues with it!

[2018-07-07 23:32] #32 closed

[2018-07-08 18:43] winzig commented on #28
@justinlettau The connection stuff is working great, thanks. However, was something done to change the ordering of the generated SQL in the .sql files? Previously things seemed to be alphabetical, but I ran `ssc pull` just now, and it looks like all of my files have changed, but just in the ordering of the generated SQL. ¯\\__💩__/¯

[2018-07-08 18:56] justinlettau commented on #28
@winzig Yes, the table scripting has been changed to retain the original order of the columns instead of alphabetizing them. See #33 for reference.

[2018-07-08 19:28] winzig commented on #28
OK cool, I like that change, just wanted to make sure it was expected. Thanks!

[2018-08-03 18:23] winzig commented on #7
I'm assuming this person is having a similar issue to me. I'm on a Mac and our other dev is on Windows. When I try to check in after `ssc pull`, I often see the file showing up as modified, but the only differences are the line endings.

[2018-08-15 12:58] Jaxelr opened #37 "ssc not connecting to localhost"
## Type
What kind of issue is this?

[code]

## Current Behavior

Using the following connection definition:

[code]

i get the following error message (could not connect):

[code]

## Expected behavior

To connect properly to localhost when submitting connection requests

## Steps to Reproduce

ssc init (using the information above on the main configuration file)
ssc pull

## Other Information

I

[2018-08-15 16:03] justinlettau commented on #37
Can you try enabling the TCP/IP protocol (disabled by default)?

https://docs.microsoft.com/en-us/sql/database-engine/configure-windows/enable-or-disable-a-server-network-protocol?view=sql-server-2017#to-enable-a-server-network-protocol

[2018-08-15 16:32] Jaxelr commented on #37
Thx for the quick reply, From what i checked it was enabled.

![image](https://user-images.githubusercontent.com/5913008/44160043-29f8cb00-a087-11e8-8013-cbda42c230dc.png)

[2018-08-15 16:40] justinlettau commented on #37
It looks like you are looking at the TCP/IP for the client configuration. Can you check the TCP/IP protocol under "SQL Server Network Configuration"?

![image](https://user-images.githubusercontent.com/5008151/44160427-64169c80-a088-11e8-88ca-106c060a98d1.png)

[2018-08-15 16:46] Jaxelr commented on #37
Ahhh yes! my apologies, you are correct, that was the problem. Thank you for your time.

[2018-08-15 16:46] #37 closed

[2018-08-15 16:47] justinlettau commented on #37
No problem! I'll add something to the readme for future reference.

[2018-09-06 01:28] Jaxelr opened #39 "Bug constructing Foreign Keys on ssc pull"
## Type
What kind of issue is this?

- [x] Bug report.

## Current Behavior

Given the following tables as created by the script:

[code]

The command ssc pull incorrectly generates the foreign key association. This is the resulting script (catted for readability):

[code]

## Expected behavior

I would expect the foreign key to be created on the correct table (Child table) instead of the Parent t

[2018-09-07 12:47] DanielOverdevest commented on #39
Experienced the same issue today!
Also interesting in a quick fix. Please keep me posted. Thanks.

[2018-09-11 22:02] #39 closed

[2018-09-12 14:12] terminalsamurai opened #41 "Invalid object name"
## Type
What kind of issue is this?

[code]

## Current Behavior
When running `ssc pull [name]` I run into an error due to the naming convention of some of the objects in a database.
## Expected behavior
I would expect this to work on anything that is a valid object name in sql
## Steps to Reproduce
SQL:
[code]
then run ssc via `ssc pull [connectionname]`
## Other Information
Error Dump
[code]

[2018-09-14 20:57] Jaxelr commented on #39
Thanks for attending this Issue, is there any ETA on when can we expect this release on npm?

[2018-09-14 21:08] justinlettau commented on #39
Just published 1.9.1!  @Jaxelr Thanks for this fix!

[2018-09-14 21:26] justinlettau commented on #41
Hey @terminalsamurai, I tried your example and got an error, but not the same error have listed above. Can you post your config and the full command your running?

The error I got was related to creating a file (`dbo.v999ZipCode<>5.sql`) on Windows where the name contains special invalid characters. Are you running WIndows?

[2018-09-14 21:47] Jaxelr commented on #39
Thanks for the quick reply 👍 💯

[2018-09-15 17:19] matthewjenkins commented on #41
Running windows10 here.

Command run: `ssc pull dev`

After updating ssc to latest 1.9.1 (from 1.9.0 I believe) the error is now different:
[code]

My `ssc.json` is the following:
[code]

Let me know if I'm missing anything here.

[2018-09-17 16:57] justinlettau commented on #41
Thanks. That looks like the same error I saw. Will need to add support to remove special characters before saving files. Thanks.

[2018-09-18 13:40] DanielOverdevest opened #42 "Error: 'CREATE VIEW' must be the first statement in a query batch."
## Type
What kind of issue is this?

[code]

## Current Behavior
It's not possible to deploy a view into another database, using ```ssc push production```
Gives this error code:

It looks like the current situation doesn't allow to run two statements in a single batch.

Example view:
[code]

[2018-09-18 23:59] #41 closed

[2018-09-19 00:43] justinlettau commented on #7
Could this be handled with Git Config (https://git-scm.com/book/en/v2/Customizing-Git-Git-Configuration#_formatting_and_whitespace)?

I looked into changing the line endings (currently using Node's `EOL` const) to be LF. Seems to work but I'm no cross-platform expert. Do you know if it's safe to write LF for all platforms?

[2018-09-19 16:05] winzig commented on #7
@justinlettau I don't think the git config is working for this issue, as both my co-worker and I have it set, and we still run into this issue.

I think changing it to LF will work. If it's a simple change that we could test locally, we could test it out in our environment to verify it's working (I'm on Mac and my co-worker is on Windows).

[2018-09-20 12:44] justinlettau commented on #7
@winzig If you can test it locally, that would help expedite it. If you can't, I hope to be able to soon. I made a branch with the potential fix already (see below). Thanks!

https://github.com/justinlettau/sql-source-control/tree/feat-eol

[2018-09-20 17:55] winzig commented on #7
We will test it today and get back to you.

[2018-09-20 23:30] winzig commented on #7
@justinlettau Sadly this doesn't seem to have helped, assuming we're both in fact running this branch correctly (it's hard to tell for sure because it's the same version number, 1.9.1). What we did:

- Cloned sql-source-control repo
- Uninstalled ssc locally, both global and local installations of ssc uninstalled
- Ran `npm install && npm link && npm run build` in the ssc clone directory
- Set the

[2018-09-21 20:24] justinlettau commented on #7
@winzig Thanks for trying. I thought that would have worked 😕 I'll have to play it it some more.

[2018-09-27 13:21] matthewjenkins opened #45 "Feature Request - Data Configuration Options"
[code]

## Type
As a user of this program, I would like to have the ability to use wild cards in the `data` option declaration. Currently the `files` option allows this, I would desire the same style of config. An example would be
[code]
which would indicate that I would want the data dumped from all tables in the `lookup` schema with the exclusion of `[config].[SensitiveInformation]`'s data

I do

[2018-09-29 01:07] Jaxelr opened #46 "Pull command doesnt consider identity values"
## Type
What kind of issue is this?

- [x] Bug report.
- [ ] Feature request.

## Current Behavior
Given the following query:

[code]

When i run an ssc pull combined with the data configuration for the sample table above, the command does not add the SET IDENTITY_INSERT ON option for tables that includes identity. Current result

[code]

## Expected behavior

I expect the data query to include th

[2018-09-29 01:16] Jaxelr opened #47 "ssc pull creates truncate tables even tho they have foreign keys"
## Type
What kind of issue is this?

- [x] Bug report.
- [ ] Feature request.

## Current Behavior
Given the following query:

[code]

When i run an ssc pull combined with the data configuration for the parent table above, the command returns an invalid truncate table that will error with the message (`Cannot truncate table 'dbo.Parent' because it is being referenced by a FOREIGN KEY constraint.`)

[2018-10-05 22:56] winzig opened #48 "Primary keys w/multiple columns generate invalid SQL"
## Type
What kind of issue is this?

- [x] Bug report.
- [ ] Feature request.

## Current Behavior

If you create a table that has a primary key defined with multiple fields, you end up with a table definition like this from ssc:

[code]
## Expected behavior

When I view how SQL Server defines the table definition, it looks more like this:

[code]

Actually, SQL Server does have some additional pr

[2018-10-06 14:36] #45 closed

[2018-10-08 23:14] justinlettau commented on #47
v2.0.0 includes an `idempotency` option for data files! The default is still `truncate`, but you can configure to use delete from syntax.

https://github.com/justinlettau/sql-source-control#configuration

[2018-10-08 23:28] Jaxelr commented on #47
Thanks a lot! 👍 👍

[2018-10-09 09:20] Jaxelr opened #49 "ssc pull data with empty values instead of null"
## Type
What kind of issue is this?

- [x] Bug report.
- [ ] Feature request.

## Current Behavior

Given the following sql script:
[code]
Using the following ssc.json configuration:
[code]
ssc pulls generates the following insert script, when configuring the table as pull data:

[code]

The resulting script being invalid SQL, since NULL values from tables are generated with an empty value when cr

[2018-10-09 12:45] #49 closed

[2018-10-09 12:48] justinlettau commented on #49
Fixed in v2.0.2. Thanks for PR @Jaxelr 👍

[2018-10-19 09:28] DanielOverdevest commented on #42
@justinlettau do you think this is a bug? I still get the error using SSC PUSH production.
I think it's because it starts with 'if exists' .... then GO.. And on fifth line it have the CREATE VIEW.
Do you have already a solution for this?

[2018-10-19 09:33] DanielOverdevest commented on #42
I found out that I can change the IF exists lines and CREATE VIEW with 'CREATE OR ALTER VIEW'. This works fine for me!

[2018-11-03 21:55] Jaxelr opened #53 "ssc pull data error on tables without identity"
## Describe the Issue

Given the following sql:

[code]

ssc pull data creates the following insert:

[code]

I checked the mssqlGenerator class and found that this is not an attribute that's controlled by props (nor it should be since it depends on the tables specs):

https://github.com/justinlettau/sql-source-control/blob/b81eedbd4f8b205b78a427690a1198d52ba44162/src/generators/mssql.ts#L56-L59

[2018-12-02 20:02] ice1e0 commented on #48
same problem occurs with indexes

[2018-12-09 11:35] renovate[bot] opened #56 "Dependency deprecation warning: @types/deepmerge (npm)"
On registry `https://registry.npmjs.org/`, the "latest" version (v2.2.0) of dependency `@types/deepmerge` has the following deprecation notice:

`This is a stub types definition. deepmerge provides its own type definitions, so you do not need this installed.`

Marking the latest version of an npm package as deprecated results in the entire package being considered deprecated, so contact the packag

[2018-12-12 22:11] justinlettau commented on #42
@DanielOverdevest Yeah, I do think it's a bug. I believe it has to do with how the queries are executed on push. I'm glad the `CREATE OR ALTER` works for you. In addition to fixing this bug, i'd like to add `CREATE OR ALTER` as an idempotency option.

[2018-12-24 03:01] #53 closed

[2018-12-24 03:05] #56 closed

[2019-01-11 03:40] justinlettau commented on #48
Just landed a fix for the primary keys 🎉 Going to leave this issue open to fix the indexes too.

[2019-01-11 14:35] lmeyer1 opened #59 "Order of indexes on tables is not fixed"
## Description
When pulling the same database again, the order of the indexes in the files `tables/dbo.*.sql` may change. As a consequence, these files show up as modified in git. This hampers the main reason of being of this tool: allow to pull a database into git.

The same thing can happen with table constraints.

## Expected behavior
Any file created by this tool should change only if the stru

[2019-01-11 14:57] lmeyer1 opened #60 "If the files already exist, they are not updated, but deleted"
## Describe the Issue
Using the command line `cmd` on Windows 10, `ssc pull` will not update the files, but delete them if they already exist.

    C:\..\git\database_folder>ssc pull
    √ Successfully added 1098, updated 0, and removed 1098 files.

## Expected behavior
As advertised, the tool should update changed files, based on `cache.json`

## Steps to Reproduce
Run `ssc pull` in Windows termi

[2019-01-11 15:43] lmeyer1 commented on #59
Hello Justin,

I looked at your source code, and your are ordering by schema_id.
I exported the same files from the production database and from a copy of the database (backup and restore). I speculate: maybe the schema_id of the same index changed while restoring the database on another server ? So I'm no longer sure this is really a bug.

[2019-01-11 21:45] justinlettau commented on #59
I've never seen this issue, so your assumption is probably right. Feel free to re-open this issue if you find something else. Thanks.

[2019-01-11 21:45] #59 closed

[2019-01-12 01:30] #48 closed

[2019-01-12 01:56] justinlettau commented on #60
@lmeyer1 I can't reproduce this issue. I'm also on Windows 10. Can you provide some details on your config, database, etc?

[2019-01-15 07:10] lmeyer1 commented on #60
Hello,
I looked into your code and found the issue:

My config file had `root: '.'`.

In `file-utility.ts:174`, `existingFiles` was something like `[ './schemas/dbo.sql', ... ]`, but in `file-utility.ts:148` after normalizing, the filename was `'schemas/dbo.sql`.

After changing the configuration to `root: './'`, normalization works as expected, and files are no longer removed.

[2019-01-15 14:47] justinlettau commented on #60
I'm glad you got this resolved. I'll see about adding some handling for that specific config scenario to avoid this issue in the future.

[2019-01-15 23:50] #31 closed

[2019-01-16 01:31] #60 closed

[2019-01-16 21:19] unybble opened #63 "Windows authentication support"
## Describe the Feature
It would be nice if, for those on a Windows machine, there were a way to connect to a database instance using Windows Authentication. While I am not sure if the "web.config" is able to handle different connection strings, but the json formatted object has user and password attributes, which are not the format required for Windows Authentication

## Suggested Solution
Is it

[2019-01-16 21:42] justinlettau commented on #42
@DanielOverdevest Can you reproduce this with in the latest version? The `push` command is designed to separate statements by the `GO` and execute each segment separately; So in theory this error shouldn't occur.

[2019-01-16 22:23] justinlettau commented on #63
It looks like Windows Authentication is possible, so I've added that to the roadmap.

In regards to connections in the `Web.config` ... a standard .NET XML config file is supported. I updated the readme with a few more details about connections in `Web.config` files.
https://github.com/justinlettau/sql-source-control#connections

[2019-01-18 10:54] DanielOverdevest commented on #42
Hi Justin,
I will, next week. Ok?
GR. Daniel

[2019-01-18 21:19] justinlettau commented on #42
@DanielOverdevest Thanks!

[2019-01-22 23:17] winzig opened #65 "RequestError: The SELECT permission was denied on the object 'sysjobsteps', database 'msdb', schema 'dbo'."
## Describe the Issue

I updated from 1.9.1 to 2.0.2 and then ran `ssc pull`, and ssc seems to get stuck after this error appears:

[code]

I reviewed the CHANGELOG and can see that SQL job info is now being stored by SSC. However, I'm using SQL Server on AWS RDS, and I suspect this is why my user doesn't have permission to access the jobs (AWS RDS handles backups and other things typically done i

[2019-01-23 01:15] #65 closed

[2019-01-23 01:19] justinlettau commented on #65
@winzig Good catch! Sorry about that 😊 I just release v2.1.1 which should fix this so the following config will work:

[code]

Let me know if you have further issues. Thanks.

[2019-01-23 04:17] winzig commented on #65
Perfect, works for me now.

[2019-01-25 15:07] DanielOverdevest opened #66 "✖ RequestError: Reference to database and/or server name in 'msdb.dbo.sysjobs' is not supported in this version of SQL Server."
## Describe the Issue

With the new version 2.1.1 it is not working anymore with Azure SQL database (basic tier)

[2019-01-25 18:02] justinlettau commented on #66
Duplicate of #65 . If you don't have access to jobs, you need to set output to `false` for jobs.
See https://github.com/justinlettau/sql-source-control/issues/65#issuecomment-456629033 for details.

[2019-01-25 18:02] #66 closed

[2019-01-25 19:25] DanielOverdevest commented on #42
Hi Justin,I installed the latest version (2.1.0 and 2.1.1) and both are not working anymore with Azure SQL database (basic tier). I think you’re using functions which are not implemented in that version of SQL server.If you can give me some hints where to look at, I’m willing to dive a bit deeper in the problem and test for a solution.GR.Daniel

[2019-01-25 20:26] justinlettau commented on #42
@DanielOverdevest The only issue I am aware of with Azure SQL is regarding jobs (#65). Is the error your getting look related to jobs? If so, this config should address it:

[code]

If not, could you provide some details about the error you are seeing? Thanks.

[2019-02-01 08:18] DanielOverdevest commented on #66
This works well! Thanks for the hint. Maybe you can specify the error message that you can skip the jobs.

[2019-02-01 08:22] DanielOverdevest commented on #42
I tried it out with the latest version (I had to wait until I need to push anything into production).
I still get the same error:
✖ RequestError: 'CREATE VIEW' must be the first statement in a query batch.

When I find time I'm gonna change the pull request which fixed this problem using this statement:
CREATE OR ALTER VIEW

Thanks for the 2.1.1. update by the way. Clustered Indexes of multiple co

[2019-02-01 09:32] DanielOverdevest commented on #63
+1 we need to migrate to AD authentication, so it would be nice to implement this feature.

[2019-03-03 04:24] ryanhinton opened #68 "Getting tedious deprecated message when using ssc push"
## Describe the Issue
When executing `ssc push`, I received tedious deprecated Passing non-number values for options.port will throw an error in future tedious versions.  Please pass a number instead. ..\..\..\android\npm\node_modules\sql-source-control\node_modules\mssql\lib\tedious.js:232:23

## Expected behavior
I should not be receiving a warning
Todo

## Steps to Reproduce
`ssc push`
type 'y'

[2019-05-09 13:15] lmeyer1 opened #80 "Default constraints should be scripted with their name"
The table scripts do not contain the name of default constraints. This is not a bug in itself, but it can lead to unexpected behavior, if one uses the `create table` scripts to create the same table in two different databases.

## Expected behavior
I'd expect, that two tables created with the same script should be identical. As for now, each table differs in regards to the names of the default con

[2019-05-09 14:46] lmeyer1 opened #82 "Invalid type declaration for `text` columns"
## Describe the Issue
The generated create table script has an syntax error.

## Expected behavior
The generated scripts should be valid T-SQL statements.

## Steps to Reproduce
- Create a table containing a `text` or `ntext` column.
- Pull the table schema

The generated script will contain a column definition containing `text(16)`, e.g.

    [InfoSP] text(16) COLLATE French_CI_AS NULL,

which wi

[2019-05-09 15:15] lmeyer1 opened #83 "Foreign keys on multiple columns are not handled correctly"
## Describe the Issue
If a foreign key references two columns, the generated code is not valid. The code to create such a foreign key could be (code generated by MS SQL Server Management Studio 2008 R2):

[code]
## Expected behavior
The code generated should recreate the foreign key. The code generated by ssc creates two alter table statements as follows:

[code]

[2019-05-09 15:24] lmeyer1 opened #84 "Export indexes and foreign keys in a deterministic order"
## Describe the Feature
Currently, there is no fixed order for foreign keys and indexes. When adding or removing objects in the database, the order in which the foreign keys and indexes are returned from the queries `foreignKeysRead` and `indexesRead` is not determined. As a consequence, the scripts generated for a table may change, as the indexes and foreign keys might be declared randomly in a d

[2019-08-28 11:17] Elfish1 opened #95 "Export Job Schedules"
Would it be possible to also export and backup the schedules used in jobs?
There should be also a way to load the backup.

[2019-08-28 11:20] Elfish1 opened #96 "Export of Indexes Clustered missing."
## Describe the Issue

I'm using MS Sql Server 2012 and there is an issue with the backing up the table definitions.
My table has several non clustered indexes and a clustered index.
The non clustered indexes export just fine, while the clustered index is missing.

## Expected behavior

Export ALL indexes

[2019-09-09 17:33] #80 closed

[2019-09-10 04:19] justinlettau commented on #80
@lmeyer1 Decided to add this as a configuration setting just in case for others.

You can opt into this via `"includeConstraintName": true` in your config fie. You can see it here (0235d948e87b26a2fe592df24c99a98cbd285948).

[2020-05-13 06:22] blissi commented on #63
+1

[2020-07-08 01:28] Jaxelr opened #115 "Ssc pull error when importing data with tables with reserved keywords"
## Describe the Issue
ssc pull prod with the data option enable errors with tables with reserved words. It works fine for pulling the table with the keyword.

## Expected behavior

The command should import the data correctly.

## Steps to Reproduce

Given the following sample sql (which includes the reserve word Plan):

[code]

running the command ssc pull throws an error message.

## Other Infor

[2020-07-08 14:05] Jaxelr opened #116 "ssc init creates config with port as string"
## Describe the Issue

ssc init currently creates the Main configuration file using the datatype of string for the port. This causes an error when the ssc pull command is subsequently used

## Expected behavior

ssc init and ssc pull should be consistent in the management of the configuration property of port

## Steps to Reproduce

1.  ssc init
1. server: localhost
1. port: 1433
1. database: mast

[2020-07-08 15:08] Jaxelr commented on #115
After some evaluation i think its probably too much of a breaking change to add the change i previously suggested, i think its probably safer to internally manage the transformation prior to the lookup and then modify the interface SqlDataResult and Generator to to the parse correctly like the AbstractSqlObject interface

[2020-07-15 01:24] Jaxelr commented on #115
Closing since PR got merged, Thanks.

[2020-07-15 01:24] #115 closed

[2020-07-15 01:24] Jaxelr commented on #116
Closing since PR got merged, Thanks.

[2020-07-15 01:24] #116 closed

[2020-08-06 21:08] unybble commented on #68
All you have to do is change the port to a number:
NO (generates above error):
[code]

YES  (no error):
[code]
I think a more descriptive bug is that when initiating a connection with "_ssc init_", the wizard generates port as a string. The fix request should be for the wizard from _ssc init_ to insert as a number and not a string.

As long as **you** have put a number, you won't get this error. H

[2020-08-06 21:10] unybble commented on #68
Actually looks like this was fixed: https://github.com/justinlettau/sql-source-control/issues/116

I should sync with master! :)

[2020-08-06 21:17] unybble opened #124 "Index out of range"
## Describe the Issue
I have set up a MySql connection using _init ssc_. When I try and do _ssc pull_, I get this error:

[code]
"123.45.67.890" represents the server IP address. Is the IP too long? I have others that are MSSQL that are shorter and I do not get this error. I did not test extensively with differing IP lengths.

## Expected behavior
I would expect a output as such:
[code]

## Steps

[2020-09-09 03:05] thecesrom opened #130 "ssc pull does not create code for CLUSTERED index"
## Describe the Issue
I have a table where the composite PK is `NONCLUSTERED` and an additional `CLUSTERED` index.

Running `ssc pull [conn]` only creates `NONCLUSTERED` indexes.

## Expected behavior
Running `ssc pull [conn]` should create the DDL for the `CLUSTERED` and `NONCLUSTERED` index.

## Steps to Reproduce
Sample table:
[code]

1. Create table
1. Run `ssc pull`
1. DDL on `dbo.module.sql`

[2020-09-10 14:47] justinlettau commented on #130
@thecesrom A PR would be great! Thanks!

[2020-09-11 21:11] cesarcoatl commented on #130
I have found some areas for improvement:

1. Create separate `DROP` scripts for `TRIGGER`s, `PROCEDURE`s, and `FOREIGN KEY`s when using `if-exists-drop`, just as when you choose to `Generate Scripts` for a database in Microsoft SQL Server Management Studio, the order in which objects are dropped is important
1. Including an `idemPotency` option for `schemas`; when using `if-exists-drop` will overr

[2020-09-17 18:43] thecesrom opened #131 "Columns on PK and INDEX should be sorted based on `key_ordinal`"
## Describe the Issue
Columns on PK and INDEX are sorted based on `sys.index_columns.key_ordinal`.

## Expected behavior
The `CREATE TABLE` generated script should produce a script sorting the columns.

## Steps to Reproduce
Run `ssc pull [conn]`, and compare the column order on composite INDEXes and PKs.

## Other Information

I have introduced this on thecesrom/sql-source-control@d091fab0ce69bd8

[2020-09-17 18:51] thecesrom opened #132 "Properly persist computed columns"
## Describe the Issue
`ssc pull` does not generate DDL for persisted computed columns.

## Expected behavior
Computed columns may be persisted, so `ssc pull` should create compliant T-SQL for creating them.

[code]

## Steps to Reproduce
- `ssc pull [con]` on a database where at least one table has a persisted computed column
- Compare to the DDL generated by SSMS/Azure Data Studio

## Other Infor

[2020-09-22 02:57] #130 closed

[2020-09-22 02:57] #131 closed

[2020-09-22 02:57] #132 closed

[2020-10-14 15:26] lmeyer1 opened #134 "Unable to ssc pull"
## Describe the Issue

I used ssc in the pass with success. Today I come back to the project after several months.
`ssc pull` gives as sole output a red cross.

I checked the connection to the server. I works in ODBC connector and with SQL Server Management Studio. The server is SQL 2008 R2.

## Expected behavior

I expect that an descriptive error message is shown

How can I debug ssc and find ou

[2020-10-15 08:43] lmeyer1 commented on #134
The above bug is showing with node version 12.18.3.

When I downgrade to node version 10.22.0, `ssc pull` works again.

Conclusion: sql-source-control is not compatible with the latest node js.

[2020-10-15 14:43] justinlettau commented on #134
@lmeyer1 Thanks! I'm working on updating dependencies; I suspect that might fix this issue too.

[2020-10-15 15:42] lmeyer1 commented on #68
This is fixed in the `master` branch. You can close this issue.

[2020-10-15 15:55] lmeyer1 commented on #82
I have a fix for this bug. I try to create a pull request by monday.

[2020-10-16 14:56] #68 closed

[2020-10-19 12:44] lmeyer1 commented on #83
Fixed with PR https://github.com/justinlettau/sql-source-control/pull/135

[2020-10-19 12:45] lmeyer1 commented on #82
Fixed with PR https://github.com/justinlettau/sql-source-control/pull/135

[2020-12-08 19:34] winzig opened #139 "SSC stalls after `pull`"
I'm running SSC 2.1.1 with Node 12.6.0, connecting to SQL Server running at AWS RDS.

When I run `ssc pull`, I get the "Successfully ..." line telling me what changed, but then ssc never seems to quit. I always have to hit CTRL-C to close it. (This doesn't seem to have any ill effect on the results, but can't really tell for sure.)

[2020-12-08 19:39] winzig commented on #7
I think I'm still having related whitespace issues on 2.1.1, though it's just me working from macOS now, no second person on Windows. After `ssc pull`, I'll see a bunch of SQL resources showing as "modified" but the diffs are empty. If I try to check them in anyway just to clear things out, Github Desktop responds `Commit failed - exit code 1 received`.

UPDATE: I worked around the issue by going

[2020-12-15 17:50] #7 closed

[2020-12-17 22:00] justinlettau commented on #139
@winzig Can you try with v3.0.0 and see if it's still an issue?

[2020-12-17 22:00] justinlettau commented on #134
@lmeyer1  Can you try with v3.0.0 and see if it's still an issue?

[2020-12-17 22:57] winzig commented on #139
@justinlettau Fixed! thank you!

[2020-12-17 22:57] #139 closed

[2020-12-29 08:30] lmeyer1 commented on #134
No this is not fixed. Neither are the two other bugs I reported
- [Invalid type declaration for `text` columns](https://github.com/justinlettau/sql-source-control/issues/82)
- [Foreign keys on multiple columns are not handled correctly](https://github.com/justinlettau/sql-source-control/issues/83)

[2021-02-11 20:25] Jaxelr opened #145 "ssc init should default to port 1433"
## Describe the Feature
When running ssc init currently the default value for port is undefined, this causes the field to be NaN on display and Null on creation.

![image](https://user-images.githubusercontent.com/5913008/107693884-14c77c00-6c85-11eb-86ef-3f201c3f4cf5.png)

As i understand it, it would be a more pleasant UX to default to port 1433, which is the usual sql server default port.

![im

[2021-03-29 18:49] jasonHooten opened #146 "Not seeing exceptions in the terminal"
## Describe the Issue

When ever I use the "push" command (just after I answer the "Are you sure you want to continue?" question) I get a tiny red x with no further explanation of the issue.

I know I must be doing something wrong but it seems like the console or a log should tell me what the issue was. Am I missing something here?

![image](https://user-images.githubusercontent.com/1041865/112884

[2021-04-09 14:41] #146 closed

[2021-04-09 14:41] jasonHooten commented on #146
not using this library anymore

[2021-08-02 16:18] Jaxelr opened #163 "Add capability to generate SQL files for Synonyms"
## Describe the Feature
Generate sql files from the metadata from Synonyms on the same manner as functions and procedures.

[2021-10-19 02:31] renovate[bot] opened #166 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.

## Rate-Limited

These updates are currently rate-limited. Click on a checkbox below to force their creation now.

 - [ ] chore(deps): update actions/checkout action to v3
 - [ ] chore(deps): update codecov/codecov-action action to

[2021-11-02 12:24] r3draid3r04 opened #167 "Permissions Required"
## Type

What kind of issue is this?

[code]

## Description the Issue

What permissions are needed for this to work? I know it works with sa but I don't what this to run with sa. Thanks!

Todo

## Steps to Reproduce

n/a

## Other Information

n/a

[2021-12-04 05:15] justinlettau commented on #167
You should only need permissions to run the queries found [here](https://github.com/justinlettau/sql-source-control/blob/master/src/queries/mssql.ts). Read access to the system tables is probably the minimum permissions needed.

[2021-12-04 05:15] #167 closed

[2022-02-04 19:08] raedwa01 opened #173 "No output of error on pull"
## Type

What kind of issue is this?

[code]

## Description the Issue

No output of error on pull

## Steps to Reproduce

When calling ssc pull, I get a "Pulling from <server> ...." immediately followed by a Red X.
It sits for a few minutes and then stop with no indication of the error.

## Other Information

n/a

[2022-03-22 15:10] matthewjenkins commented on #173
Running into the same issue.

[2022-08-05 15:21] bernardoadc opened #181 "Windows reserved filenames"
## Describe the Issue

This happened in a database which had a schema named "aux". Nothing uncommon, ssc actually was able to create file "aux.sql". However, git was not able to add to index. After some research, it turned out to be a Windows issue. All said, I think it is still relevant for this package since it prevents users from versioning some databases (although very specific case, but can b

[2022-08-10 19:18] bernardoadc commented on #173
Same here. I've seen this is related directly to `ora` package, specifically on `catch` calling `this.spinner.fail(error)` (line 113). It could be a bug in the package (and solution is to just update it) or explicitly setting `isSilent` to `true`.